:root {
  --color-white: #FDFDFD;
  --color-dark-green: #1A3E3E;
  --color-yellow: #F2BE22;
  --color-black: #18121E;

  --border-radius: 6px;

  --font-size-xs: 14px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --font-size-xl: 24px;
  --font-size-xxl: 32px;
  --font-size-xxxxl: 50px;
}